{% extends 'partials/_master.twig' %}

{% block main %}

<article>
    <h1>{{ record.title }}</h1>

    {{ record.teaser }}

    {% if record.image!="" %}
        <a href="{{ image(record.image) }}">
            <img src="{{ thumbnail(record.image, 740, 560) }}">
        </a>
    {% endif %}

    {{ record.body }}
 </article>

{% endblock main %}
