{% extends 'partials/_master.twig' %}

{% block category %}
	<div class="tiles">
    	{% for record in records %}
        <div class="tile" itemscope itemtype="http://schema.org/Product">
          <div class="tile-title"><a href="{{ record.affiliatelink }}" target="_blank" rel="nofollow"  itemprop="name">{{record.title}}</a></div>
					<div class="tile-img"><a href="{{ record.affiliatelink }}" target="_blank" rel="nofollow"><img src="{{ record.image|thumbnail('tileimg') }}" itemprop="image" alt="{{record.img_descr}}"></a></div>
					<div class="tile-content" itemprop="description">{{ record.content }}</div>
					<div class="tile-footer"  itemprop="offers" itemscope itemtype="http://schema.org/Offer">
						<span class="tile-price" itemprop="price">{{ record.price }}</span>
						<a href="{{ record.affiliatelink }}" target="_blank" rel="nofollow">Get it !</a></div>
				</div>
		{% endfor %}
	</div>
{% endblock category %}
